<div class="row mb-3 mt-3">
    <h1 class="text-center">Collection</h1>
</div>
<section>
    <a href="#">
        <article class="card">
            <figure class="card-img">
                <img src="/assets/collection/EID.webp" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Eid Festival</h2>
            </div>
        </article>
    </a>
    <a href="#">
        <article class="card">
            <figure class="card-img">
                <img src="/assets/collection/Ghauncha.webp" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">Ghauncha Gul</h2>
            </div>
        </article>
    </a>
</section>