<div class="container-fluid w-100 p-0">

    <section id="first-img" class="img-container">
        <img src="/assets/main/bg.jpg" class="main-page-img">
        <div class="centered-btn cursor-pointer mb-2">
            <button class="btn main-btn">SHOP NOW</button>
        </div>
        <h3 class="centered cursor-pointer" [routerLink]="['/']" fragment="second-img">
            <i class="fa fa-chevron-down text-light"></i>
        </h3>
    </section>

    <section id="second-img" class="img-container">
        <img src="/assets/main/bg.jpg" class="main-page-img">
        <div class="centered-btn cursor-pointer mb-2">
            <button class="btn main-btn">SHOP NOW</button>
        </div>
        <h3 class="centered cursor-pointer" [routerLink]="['/']" fragment="third-img">
            <i class="fa fa-chevron-down text-light"></i>
        </h3>
    </section>
    <section id="third-img" class="img-container">
        <img src="/assets/main/bg.jpg" class="main-page-img">
        <div class="centered-btn cursor-pointer mb-2">
            <button class="btn main-btn">SHOP NOW</button>
        </div>
        <h3 class="centered cursor-pointer" [routerLink]="['/']" fragment="first-img">
            <i class="fa fa-chevron-down text-light"></i>
        </h3>
    </section>

</div>